*{outline: 1px solid rgb(51, 5, 255)};



html {scroll-behavior: smooth;
    scroll-padding-top: 120px;
    margin: -10px;}

    body, html {
        height: auto;/* HTMLの高さ */
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;}  /* 横方向の中央配置 */
        .wrapper{display: flex;
            flex-direction: column;
            min-height: 100vh;}
                
            .obi{background-color: rgba(0, 0, 0, 0.374);
                position: fixed;
                width: 100%;
                height: 70px;
                z-index: 101;
              }
        
            .obi.active{background-color: rgba(42, 42, 42, 0.664);
                transition : all 0.3s;
                position: fixed;
                width: 100%;
                height: 60px;
                z-index: 101;}
    
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@kabe*/
.links{display: none;}
.HUNBERGER input{display: none;}
.obi{
    display: flex;
    justify-content: center;
    position: absolute;
}

    .test  {
        background-color: aqua;
        position: relative;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        width: 90vw;
        display: flex;}

        .test a {color: #f60404;}

       .test2{color: rgb(255, 255, 255);}

  














